<div class="review-header clearfix">
  <div class="name pull-left text-left">
    <h3>Review</h3>
  </div>
  <div class="history-link pull-right text-right">
    <br/>
    <h5><%= link_to "History", url_for(:controller => :review, :action => :history) %></h5>
  </div>
</div>

<hr>
<h4><%= link_to "Close Review", url_for(:controller => :review, :action => :close_review) %> <span class="badge"><%= close_count %></span></h4>
Use this to burn your daily close vote quota. Consists of reports with one or more close votes.
<hr>
<h4><%= link_to "Seed Review", url_for(:controller => :review, :action => :seed_review) %> <span class="badge"><%= seed_count %></span></h4>
Use this queue when the amount of questions in the close queue is minimal. Consists of reports with no close votes, and has a higher number of false positives.
