<br/>
<h3 style="display: inline">Seed Review</h3> <%= link_to "(clear queue)", url_for(:controller => :review, :action => :clear_seed) %>
<br/>
<br/>

<p>
  Consists of reports with no close votes. Contains a higher number of false positives than the close queue.
</p>

<% @posts.each do |post| %>
  <div class="review-post" data-post-id="<%= post.id %>">
    <hr>
    <div class="actions">
      <button class="btn btn-danger post-flag-link" data-questionid="<%= post.question_id %>">Vote to Close</button>
      <button class="btn btn-info skip-link" data-questionid="<%= post.question_id %>" data-raction="skp">Skip</button>
      <div class="modal fade">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">I am close voting this question as...</h4>
            </div>
            <div class="modal-body flag-dialog">
            </div>
            <div class="modal-footer">
              <div class="clearfix">
                <div class="pull-right text-right">
                  <button class="btn btn-danger cast-flag" data-questionid="<%= post.question_id %>" data-raction="vtc">Vote to Close</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%= render 'posts/post', :post => post %>
    <blockquote style="font-size: 14px"><%= sanitize(post.body) %></blockquote>
  </div>
<% end %>

<div class="text-center">
  <%= will_paginate @posts, :renderer => BootstrapPagination::Rails %>
</div>
