<h3><%= @reason.name %></h3>

<p><%= pluralize(@reason.posts.count, "post") %> caught, most recent <%= time_ago_in_words(@reason.most_recent.created_at) %> ago</p>

<%= pie_chart url_for(:controller => :graphs, :action => :reason_post_status_types, :id => @reason.id), colors: ['red', 'orange', 'green'] %>

<% @posts.each do |post| %>
  <%= render 'posts/post', :post => post %>
<% end %>

<div class="text-center">
  <%= will_paginate @posts, :renderer => BootstrapPagination::Rails %>
</div>
